/* Typography */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url("https://use.typekit.net/rbd3esk.css");

body{
    font-family: 'Roboto';
}

h1{
    font-size: 6em;
    font-weight:500;
    letter-spacing:2px;
    @media #{$break-small}{
        font-size: 3em;
    }
}

h2{
    font-size: 30px;
    font-weight:500;
}

h3{
    font-weight:400;
}

h4{

}

h5{

}

.brandfont{
    font-family: "jaf-facitweb", sans-serif;
}